@media screen and (max-width: 991px) {
  /* Hide the search bar when the screen width is less than 768px */
  .search-bar {
    display: none;
  }
  
  /* Display the search icon when the screen width is less than 768px */
  .search-icon {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2.5px;
  }
}

@media screen and (min-width: 992px) {
  /* Display the search bar when the screen width is greater than or equal to 768px */
  .search-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 1); */
  }
  
  /* Hide the search icon when the screen width is greater than or equal to 768px */
  .search-icon {
    display: none;
  }
}

.header-background {
  opacity: 0;
}